# move this to .compose.env if you're using docker or .env otherwise

POSTGRES_USER=<db user>
POSTGRES_PASSWORD=<db password>
POSTGRES_DB=ploogle # TODO: changing this is very untested
POSTGRES_HOST=<db host>
POSTGRES_PORT=<db port, pg default is 5432>
BOOKS_DIR=<wherever you want to save the ebooks relative to the cwd>
PORT=<port where the ploogle api will appear>
PLOOGLE_PAGE_SIZE=<default: 20>

PLOOGLE_API_KEY=<something long>
PLOOGLE_ADMIN=<used to log into the dashboard>
PLOOGLE_ADMIN_PW=<NOT password pls>