:root {
    --affini-pink-main: #DA1C5C;
    --a-yellow: #ffca4e;
    --a-light-blue: #15a5ff;
    --a-blue-low: #151b34;
    --space-blue-low: #040B20;
    --a-mid-teal: #31cbb1;

    color-scheme: only dark;
}

@font-face {
    font-display: auto;
    font-family: Fugaz One;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/FugazOne-Regular.ttf") format("truetype");
}


@font-face {
    font-display: auto;
    font-family: Playpen Sans;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/PlaypenSans.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    position:absolute;
    top:.5rem;
    left:.5rem;
    border: 1px solid var(--a-yellow);
    color: var(--a-yellow);
    padding: .5rem 0.25rem;
    background-color: var(--a-blue-low);
}

.font-boring {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.smol {
    font-size: .8rem;
    color: lightgray;
}

body {

    font-family: "Playpen Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: url("/img/background.svg") var(--space-blue-low);
    background-repeat: repeat;
    background-size: 1200px 1200px;
}

